body {
  font-family: Roboto;
}

input {
  display: inline-block;
}

label {
  display: inline-block;
}

div {
  padding: 5px;
  margin: 3px;
  /* background-color: #ed8f3e; */
  border: 1px solid black;
}

/* form {
  display: grid;
  grid-template-columns: 3;
} */

textarea {
  display: block;
}

.error {
  color: red;
  border: none;
}

.btn {
  color: whitesmoke;
  background-color: blue;
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
}

.btn:hover {
  opacity: 60%;
}
